%table#documents.dtable{ data: { source:  documents_path(format: :json, parent_klass: parent_klass, parent_id: parent_id), sort_column: 6, sort_order: 'desc' } }
  %thead
    %tr
      %th.hcenter.no-sort= check_box_tag('selection-toggle')
      %th.hcenter{ title: '*shift-click* for secondary ordering.' }= 'Type'
      %th.hcenter{ title: '*shift-click* for secondary ordering.' } Category
      %th.small-field{ title: '*shift-click* for secondary ordering.' }= 'Reference'
      %th{ title: '*shift-click* for secondary ordering.' }= 'Title'
      %th.no-sort= 'Authors'
      %th.hcenter{ title: '*shift-click* for secondary ordering.' }= 'Date'
      %th.no-sort.buttons

  %tbody
