.legend_u Sign in

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-inputs
    = f.input :username, required: true, input_html: { class:  'medium-field' }, :autofocus => true
    = f.input :password, required: false, input_html: { class:  'medium-field' }
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Sign in", :class => 'btn-primary'

= render "devise/shared/links"
