!!!
%html
  %head
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=9' }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %title= content_for?(:title) ? yield(:title) : "Sciencia"
    %meta{ content: content_for?(:description) ? yield(:description) : "Sciencia", name: "description" }
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body{ :class => "#{controller_name} #{action_name}" }
    #modal-dialog.modal.fade.no-print{ tabindex: -1, role: :dialog }
      .modal-dialog
        #modal-info.modal-content

    = render 'layouts/navbar'
    #main{ :role => "main" }
    .container-fluid
      .row
        -#.col-md-2
        -#  = render 'layouts/sidebar'
        %div{ class: "#{session[:rightpane] ? 'col-md-10' : 'col-md-12'}" }
          #flash-pane
            = render 'layouts/flash'
          #main-pane
            = yield
        - if session[:rightpane]
          .col-md-2
            = render 'layouts/rightbar'

      .container-fluid.no-print
        .row
          .col-md-12.col-sm-12
            %hr
            %span.tinyy &copy; 2013, 2018 - Guy Turcotte
